#course-list-container {
	flex-direction: column;
	align-items: center;
	width: 100vw;
	max-width: 995px;
	align-self: center;
	padding-bottom: 50px;
}

#course-items-container {
	display: grid;
	grid-template-columns: auto;
	gap: 25px 43px;
}

#course-list-title {
	font-size: 24px;
	font-family: 'Regular';
	width: 100%;
	max-width: 995px;
	padding: 20px 0 20px 20px;
}

@media only screen and (min-width: 768px) {
	#course-list-title{
		padding-bottom: 35px;
	}

	#course-items-container {
		grid-template-columns: auto auto;
	}
}

@media only screen and (min-width: 1024px) {
	#course-items-container {
		justify-content: space-between;
		grid-template-columns: auto auto auto;
	}

	#course-list-title {
		padding: 30px 0 60px 0;
	}
}