*{
  box-sizing: border-box;
  color: #F4F4F4;
}
body{
  background-color: #161616;
  width: 100vw;
  overflow-x: hidden;
}
div{
  display: flex;
}
.App {
  width: 100vw;
  flex-direction: column;
}

